body{
  width:900px;
  margin:0 auto;
}

.header{
  background:#FFB6C1;
  
}


.header li{
  display: inline;
  list-style-type: none;
  padding:5px;
}

li{
  list-style-type: none;
  padding:5px;
}

.content{
  background:#00FA9A;
  width:700px;
  height:700px;
  float:left;

}

.top-content {
  
  
}

.top-content p{
  float:right;
  width:350px;
}

.section{
  float:left;
  display:block;
  padding-right:1px;
  
}

p{
  width:200px;
}

.aside{
  background:#FFE4C4;
  width:200px;
  height:700px;
  float:left;
  text-align:center;
}

.footer{
  background:#5077BE;
  float:bottom;
  padding:20px;
  text-align:center;
}
