body{
  width:900px;
  margin:0 auto;
}

.header{
  background:#FFB6C1;
  margin:2%;
  width:900px;
  
}

.header li{
  display: inline;
  list-style-type: none;
  padding: 5px;
}

li{
  list-style-type: none;
}

.content{
  background:#00FA9A;
  width:700px;
  height:700px;
  float:left;

}

.top-content{
  float:left;
  width:300px;
  margin:2%;
  
}

.section{
  float:left;
  padding:5px;
  
}

.aside{
  background:#FFE4C4;
  width:200px;
  height:700px;
  float:left;
  text-align:center;
}

.footer{
  background:#5077BE;
  float:bottom;
  padding:20px;
  text-align:center;
}
