body{
  background-color:#3d6565;
  color:#ffead7;
  font-family:"Georgia", serif;
  font-size:16px;
  width:500px;
  margin:0 auto;
}

h1,h2,h3{
text-align:center;
}

p{
color:#F0FFF0;
line-height:1.75;
word-spacing:3px;
}
