body{
  background-color:#5F9EA0;
  color:#FFDAB9;
  font-family:"Verdana", serif;
  font-size:16px;
  line-height:1.5;
  width:500px;
  margin:0 auto;
}


h1{
text-align:center;
}

h2{

}

h3{

}


p{
color:#F0FFF0;
}
