body{
  background-color:olivedrab;
  margin:1%;
}

.wrap{
  
}

.header{
  background-color:olive;
  margin:3%;
  padding:20px;
}

.header h1{
  float:right;
}

.nav li{
  width:100%;
  background-color:;
  list-style-type: none;
  padding-right: 20px;
  float:left;
}

a{
  display:block;
  width:60px;
}

.sidebar{
  float:right;
  color:olive;
  margin:2%;
  padding:15px;
  
}

.content{
  background-color:forestgreen;
  margin:3%;
  padding:20px;
  border-top-style:dashed;
  
  
}

p{
  text-align:center;
}

