body{
  background-color:olivedrab;
  margin:1%;
}

.wrap{
  
}

.header{
  background-color:olive;
  margin:3%;
  padding:20px;
  float:right;
}


.nav{
  width:45%;
  background-color:green;
  list-style-type: none;
  padding-right: 20px;
  
}

li{
  float:left;
  display:block;
  width:60px;
}

.sidebar{
  float:right;
  background-color:olive;
  height:30px;
  margin:2%;
  padding:10px;
  
}

.content{
  background-color:blue;
  margin:2%;
  padding:10px;
  border-top-style:dashed;
  
  
}

p{
  text-align:center;
}

