body{
  background-color:olivedrab;
  margin:auto;
}

.wrap{
  
}

.header{
  
}


.nav{
 
}

.nav li{
  
}

.sidebar{
  margin:5%;
  float:right;
  
}

.content{
  margin:3%;
  
  
}

p{
  text-align:center;
}

